In [2]:
import pandas as pd
import numpy as np

## Task 1:There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

In [3]:
# Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", 
                "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", 
                "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, np.nan, 
             680000, 400000, 350000, np.nan, 300000, 
             2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", 
               "Failed", "Finished", "Failed", "Ongoing", "Finished", 
               "Failed", "Ongoing", "Finished", "Finished"]
}

project_df = pd.DataFrame(project_data)

# Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)

# Seniority Level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}

seniority_df = pd.DataFrame(seniority_data)

In [ ]:
# Save DataFrames as CSV files
project_df.to_csv("Project.csv", index=False)
employee_df.to_csv("Employee.csv", index=False)
seniority_df.to_csv("Seniority.csv", index=False)

## Task 2 The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

In [7]:
# Load Project DataFrame from CSV
project_df = pd.read_csv("Project.csv")

# Display the DataFrame
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [10]:
# Convert 'Cost' to numeric (to handle any unexpected non-numeric values)
project_df["Cost"] = pd.to_numeric(project_df["Cost"], errors='coerce')

# Initialize variables for running sum and count
running_sum = 0
running_count = 0

# Loop through the "Cost" column
for i in range(len(project_df)):
    if np.isnan(project_df.loc[i, "Cost"]):  # Check for missing value
        if running_count > 0:  # Ensure we have at least one previous value
            project_df.loc[i, "Cost"] = running_sum / running_count  # Compute running average
    else:
        running_sum += project_df.loc[i, "Cost"]  # Update running sum
        running_count += 1  # Update count of valid values

# Save the updated DataFrame
project_df.to_csv("Project.csv", index=False)

# Display the updated DataFrame
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

## Task 3 Split the name column in the Employee dataframe into two new columns “First Name”, and “LastName” and remove the older “name” column.

In [11]:
# Load Employee DataFrame from CSV
employee_df = pd.read_csv("Employee.csv")

# Display the original DataFrame
print(employee_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [ ]:
# Split the "Name" column into "First Name" and "Last Name"
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', 1, expand=True)

# Drop the original "Name" column
employee_df.drop(columns=['Name'], inplace=True)

# Save the updated Employee DataFrame
employee_df.to_csv("Employee.csv", index=False)

In [15]:
# Display the updated DataFrame
print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

## Task 4: Join all three dataframes in one single dataframe. Name it “Final”

In [16]:
# Load all three DataFrames
project_df = pd.read_csv("Project.csv")
employee_df = pd.read_csv("Employee.csv")
seniority_df = pd.read_csv("Seniority.csv")

# Display the data to verify
print(project_df.head())
print(employee_df.head())
print(seniority_df.head())

     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  5500000.0   Ongoing
4  A005  Project 5  3250500.0  Finished
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [17]:
# Merge Project and Employee DataFrame on "ID"
final_df = pd.merge(project_df, employee_df, on="ID", how="left")

# Merge the result with Seniority DataFrame on "ID"
final_df = pd.merge(final_df, seniority_df, on="ID", how="left")

# Display the merged DataFrame
print(final_df)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [18]:
# Save the final merged DataFrame
final_df.to_csv("Final.csv", index=False)

## Task 5: Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

In [19]:
# Load the Final DataFrame from CSV
final_df = pd.read_csv("Final.csv")

# Apply bonus calculation: 5% of Cost if Status is "Finished", else 0
final_df["Bonus"] = final_df.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)

# Display the updated DataFrame
print(final_df)

# Save the updated Final DataFrame
final_df.to_csv("Final.csv", index=False)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

## Task 6:  Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

In [20]:
# Load the Final DataFrame
final_df = pd.read_csv("Final.csv")

# Display initial data
print(final_df.head())

     ID    Project       Cost    Status Gender     City  Age First Name  \
0  A001  Project 1  1002000.0  Finished      M    Paris   25       John
1  A002  Project 2  2000000.0   Ongoing      F   London   27      Alice
2  A003  Project 3  4500000.0  Finished      M   Berlin   29        Tom
3  A004  Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4  A005  Project 5  3250500.0  Finished      F   Madrid   30        Amy

   Last Name  Designation Level     Bonus
0      Alter                  2   50100.0
1  Luxumberg                  2       0.0
2  Sabestine                  3  225000.0
3      Adgra                  2       0.0
4      Johny                  3  162525.0

In [21]:
# Identify employees who have a failed project
failed_ids = final_df.loc[final_df["Status"] == "Failed", "ID"].unique()

# Reduce designation level by 1 for those employees
final_df.loc[final_df["ID"].isin(failed_ids), "Designation Level"] -= 1

# Remove employees whose designation level is greater than 4
final_df = final_df[final_df["Designation Level"] <= 4]

# Save the updated Final DataFrame
final_df.to_csv("Final.csv", index=False)

# Display initial data
print(final_df.head())

     ID    Project       Cost    Status Gender     City  Age First Name  \
0  A001  Project 1  1002000.0  Finished      M    Paris   25       John
1  A002  Project 2  2000000.0   Ongoing      F   London   27      Alice
2  A003  Project 3  4500000.0  Finished      M   Berlin   29        Tom
3  A004  Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4  A005  Project 5  3250500.0  Finished      F   Madrid   30        Amy

   Last Name  Designation Level     Bonus
0      Alter                  1   50100.0
1  Luxumberg                  1       0.0
2  Sabestine                  2  225000.0
3      Adgra                  2       0.0
4      Johny                  3  162525.0

## Task 7: Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In [22]:
# Load the Final DataFrame
final_df = pd.read_csv("Final.csv")

# Display initial data
print(final_df.head())

     ID    Project       Cost    Status Gender     City  Age First Name  \
0  A001  Project 1  1002000.0  Finished      M    Paris   25       John
1  A002  Project 2  2000000.0   Ongoing      F   London   27      Alice
2  A003  Project 3  4500000.0  Finished      M   Berlin   29        Tom
3  A004  Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4  A005  Project 5  3250500.0  Finished      F   Madrid   30        Amy

   Last Name  Designation Level     Bonus
0      Alter                  1   50100.0
1  Luxumberg                  1       0.0
2  Sabestine                  2  225000.0
3      Adgra                  2       0.0
4      Johny                  3  162525.0

In [23]:
# Add "Mr." or "Mrs." based on gender
final_df["First Name"] = final_df.apply(
    lambda row: "Mr. " + row["First Name"] if row["Gender"] == "M" else "Mrs. " + row["First Name"],
    axis=1
)

# Drop the Gender column
final_df = final_df.drop(columns=["Gender"])

# Display updated DataFrame
print(final_df.head())

# Save the updated Final DataFrame
final_df.to_csv("Final.csv", index=False)

     ID    Project       Cost    Status     City  Age  First Name  Last Name  \
0  A001  Project 1  1002000.0  Finished    Paris   25    Mr. John      Alter
1  A002  Project 2  2000000.0   Ongoing   London   27  Mrs. Alice  Luxumberg
2  A003  Project 3  4500000.0  Finished   Berlin   29     Mr. Tom  Sabestine
3  A004  Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina      Adgra
4  A005  Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy      Johny

   Designation Level     Bonus
0                  1   50100.0
1                  1       0.0
2                  2  225000.0
3                  2       0.0
4                  3  162525.0

## Task 8: Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

In [24]:
# Load the Final DataFrame
final_df = pd.read_csv("Final.csv")

# Display initial data
print(final_df.head())

     ID    Project       Cost    Status     City  Age  First Name  Last Name  \
0  A001  Project 1  1002000.0  Finished    Paris   25    Mr. John      Alter
1  A002  Project 2  2000000.0   Ongoing   London   27  Mrs. Alice  Luxumberg
2  A003  Project 3  4500000.0  Finished   Berlin   29     Mr. Tom  Sabestine
3  A004  Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina      Adgra
4  A005  Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy      Johny

   Designation Level     Bonus
0                  1   50100.0
1                  1       0.0
2                  2  225000.0
3                  2       0.0
4                  3  162525.0

In [25]:
# Promote designation level by 1 for employees with age > 29
final_df["Designation Level"] = final_df.apply(
    lambda row: row["Designation Level"] + 1 if row["Age"] > 29 else row["Designation Level"],
    axis=1
)

# Ensure the designation level remains within the valid range (1 to 4)
final_df["Designation Level"] = final_df["Designation Level"].apply(lambda x: min(x, 4))

# Save the updated Final DataFrame
final_df.to_csv("Final.csv", index=False)

# Display updated DataFrame
print(final_df.head())

     ID    Project       Cost    Status     City  Age  First Name  Last Name  \
0  A001  Project 1  1002000.0  Finished    Paris   25    Mr. John      Alter
1  A002  Project 2  2000000.0   Ongoing   London   27  Mrs. Alice  Luxumberg
2  A003  Project 3  4500000.0  Finished   Berlin   29     Mr. Tom  Sabestine
3  A004  Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina      Adgra
4  A005  Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy      Johny

   Designation Level     Bonus
0                  1   50100.0
1                  1       0.0
2                  2  225000.0
3                  3       0.0
4                  4  162525.0

## Task 9 : Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

In [26]:
# Load the Final DataFrame
final_df = pd.read_csv("Final.csv")

# Display initial data
print(final_df.head())

# Group by ID and sum the 'Cost' for each employee
total_costs = final_df.groupby(["ID", "First Name"])["Cost"].sum().reset_index()

# Rename the 'Cost' column to 'Total Cost'
total_costs = total_costs.rename(columns={"Cost": "Total Cost"})

# Display the result
print(total_costs.head())

# Save the TotalProjCost DataFrame to CSV
total_costs.to_csv("TotalProjCost.csv", index=False)

     ID    Project       Cost    Status     City  Age  First Name  Last Name  \
0  A001  Project 1  1002000.0  Finished    Paris   25    Mr. John      Alter
1  A002  Project 2  2000000.0   Ongoing   London   27  Mrs. Alice  Luxumberg
2  A003  Project 3  4500000.0  Finished   Berlin   29     Mr. Tom  Sabestine
3  A004  Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina      Adgra
4  A005  Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy      Johny

   Designation Level     Bonus
0                  1   50100.0
1                  1       0.0
2                  2  225000.0
3                  3       0.0
4                  4  162525.0
     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

In [27]:
# Display the result
print(total_costs.head())

     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

## Task 10: Print all the employee details whose city name contains the letter “o” in it.

In [28]:
# Load the Final DataFrame
final_df = pd.read_csv("Final.csv")

# Filter employees whose city contains the letter "o"
filtered_df = final_df[final_df["City"].str.contains("o", case=False, na=False)]

# Display the filtered data
print(filtered_df)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     Bonus
1   Luxumberg                  1       0.0
3       Adgra                  3       0.0
5   Luxumberg                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3  150000.0

In [29]:
# Print the details of filtered employees
print(filtered_df[["ID", "First Name", "Last Name", "City", "Age", "Designation Level"]])

      ID  First Name  Last Name     City  Age  Designation Level
1   A002  Mrs. Alice  Luxumberg   London   27                  1
3   A004   Mrs. Nina      Adgra  Newyork   31                  3
5   A002  Mrs. Alice  Luxumberg   London   27                  1
11  A004   Mrs. Nina      Adgra  Newyork   31                  3
12  A004   Mrs. Nina      Adgra  Newyork   31                  3